USE [TmsEPly]
GO
/****** Object:  Table [dbo].[CUST_STUD_HLTH_PROFILE]    Script Date: 01/11/2010 08:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUST_STUD_HLTH_PROFILE](
	[SESS_CDE] [char](8) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ID_NUM] [int] NOT NULL,
	[HEALTH_CDE] [char](8) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HEALTH_CDE_DESC] [char](45) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COMMENTS1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COMMENTS2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COMMENTS3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COMMENTS4] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[COMMENTS5] [int] NULL,
	[USER_NAME] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[JOB_NAME] [char](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[JOB_TIME] [datetime] NULL,
 CONSTRAINT [PK_CUST_STUD_HLTH_PROFILE] PRIMARY KEY CLUSTERED 
(
	[SESS_CDE] ASC,
	[ID_NUM] ASC,
	[HEALTH_CDE] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF